body {
	overflow: hidden;
}
audio {
	display: none;
}
div.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	background: rgba(0,0,0,.75);
	display: none;

	z-index: 3;

	color: #fff;
	text-align: center;
	padding: 5%;
}

div.overlay span.points {
	display: block;
}

div.overlay span.points:before {
	content: 'You got: ';
}
div.overlay span.points:after {
	content: 'points';
}
.ball {
	z-index: 2;
	background: #000;
	border-radius: 50%;

	display: block;
	position: absolute;

	box-shadow: 0 0 10px rgba(0,0,0,.5);

	text-align: center;
	font-size: 1.75em;
	font-weight: bold;

    -webkit-animation: spin 3s linear infinite;

    opacity: 0.9;

    cursor: pointer;
}

.ball:hover {
	opacity: 1;
}

.ball[data-point="1"] {
	background: radial-gradient(circle at 25px 25px, #E91E6A, #000);

	height: 75px;
	width: 75px;
	line-height: 75px;
}

.ball[data-point="2"] {
	background: radial-gradient(circle at 16px 16px, #FBEF07, #000);

	height: 50px;
	width: 50px;
	line-height: 50px;
}

.ball[data-point="3"] {
	background: radial-gradient(circle at 12px 12px, #1C4BB0, #000);

	height: 35px;
	width: 35px;
	line-height: 35px;
}

.ball[data-point="4"] {
	background: radial-gradient(circle at 8px 8px, #ddd, #000);

	height: 25px;
	width: 25px;
	line-height: 25px;
}

.ball[data-point="5"] {
	background: radial-gradient(circle at 5px 5px, #B12C8C, #000);
	height: 15px;
	width: 15px;
	line-height: 15px;
}

.ball[data-point="-5"] {
	background: radial-gradient(circle at 16px 16px, lightpink, #000);

	height: 50px;
	width: 50px;
	line-height: 50px;
}

div.points {
	font-weight: bold;
	float: left;

	font-size: 2em;
}
div.points:before {
	content: 'Your points: ';
}

div.timer {
	float: right;
	font-size: 2em;
}





@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}