body {
	overflow: hidden;
}
audio {
	display: none;
}
div.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	background: rgba(0,0,0,.75);
	display: none;

	z-index: 3;

	color: #fff;
	text-align: center;
	padding: 5%;
}

div.overlay span.points {
	display: block;
}

div.overlay span.points:before {
	content: 'You got: ';
}
div.overlay span.points:after {
	content: 'points';
}
.ball {
	z-index: 2;
	background: #000;
	border-radius: 50%;

	display: block;
	position: absolute;

	box-shadow: 
		0 0 10px rgba(0,0,0,.5),
		inset 0 0 10px rgba(255,255,255,.9);

	text-align: center;
	font-size: 1.75em;
	font-weight: bold;
}

.ball[data-point="1"] {
	background: red;

	height: 75px;
	width: 75px;
	line-height: 75px;
}

.ball[data-point="2"] {
	background: green;

	height: 50px;
	width: 50px;
	line-height: 50px;
}

.ball[data-point="3"] {
	background: orange;

	height: 35px;
	width: 35px;
	line-height: 35px;
}

.ball[data-point="4"] {
	background: blue;

	height: 25px;
	width: 25px;
	line-height: 25px;
}

.ball[data-point="5"] {
	background: brown;
	height: 15px;
	width: 15px;
	line-height: 15px;
}

.ball[data-point="-5"] {
	background: pink;

	height: 50px;
	width: 50px;
	line-height: 50px;
}

div.points {
	font-weight: bold;
	float: left;

	font-size: 2em;
}
div.points:before {
	content: 'Your points: ';
}

div.timer {
	float: right;
	font-size: 2em;
}